@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
	--font-work-sans: 'Work Sans', sans-serif;
}

@layer base {
	* {
		@apply font-work-sans;
	}
	*::-webkit-scrollbar {
		@apply w-2;
	}
	*::-webkit-scrollbar-thumb {
		@apply bg-neutral-300 rounded-full border-2 border-transparent bg-clip-content transition-all;
	}
	*::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
	a {
		@apply block;
	}
	button {
		@apply cursor-pointer;
	}
	aside{
		@apply sticky top-0  hidden -translate-x-full lg:relative lg:block lg:basis-lg lg:translate-x-0 md:transition-transform max-w-2xs basis-2xs shrink-0
	}
}

@layer components {
	/* 文章內容 */
	.article-title{
		@apply text-base font-medium text-neutral-900 group-hover:text-emerald-700 transition-all mb-2
	}
	.article-tag{
		@apply inline text-xs text-emerald-700 bg-neutral-200 rounded p-1 px-2 mr-1 hover:text-neutral-100 hover:bg-emerald-700 transition-all
	}
	.article-content{
		@apply text-sm text-neutral-500 line-clamp-2 break-all mb-3
	}
	/* 切換選單按鈕 */
	.navbar-toggler {
		@apply relative flex flex-col justify-center items-center aspect-square rounded-md transition-all duration-1000 z-50;
	}
	.navbar-toggler.scrolled {
		@apply bg-emerald-700;
	}
	.navbar-toggler.active{
		@apply bg-transparent
	}
	.navbar-toggler-line {
		@apply block bg-white w-6 h-0 pb-0.5 rounded-full mb-1.5 self-end hover:w-5 transition-all duration-500;
	}
	.navbar-toggler-line:last-child {
		@apply mb-0 w-5;
	}
	.navbar-toggler.active > .navbar-toggler-line:first-child {
		@apply rotate-45 translate-y-2 w-6
	}
	.navbar-toggler.active > .navbar-toggler-line:nth-child(2) {
		@apply opacity-0 w-0
	}
	.navbar-toggler.active > .navbar-toggler-line:last-child {
		@apply -rotate-45 -translate-y-2 w-6
	}
	.navbar-toggler.active:hover > .navbar-toggler-line:first-child {
		@apply rotate-30
	}
	.navbar-toggler.active:hover > .navbar-toggler-line:last-child {
		@apply -rotate-30
	}

	/* 文章內容 */
	.markdown-body ul {
		@apply list-disc !pl-6
	}
	/* .markdown-body ol {
		@apply list-decimal !pl-6
	}
	.markdown-body ol li ul {
		@apply list-[circle] !pl-6
	}
	.markdown-body ol li ol {
		@apply list-decimal !pl-6
	}
	.markdown-body table {
		width: initial !important;
	} */
	.swiper-slide > img{
		@apply w-full h-auto object-cover
	}
}