@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import 'tailwindcss';

@theme {
	--color-primary: #1f2328;
	--color-secondary: #d1d9e0;
	--font-work-sans: "Google Sans", sans-serif;
}

@layer base {
	* {
		@apply font-work-sans;
	}
	*::-webkit-scrollbar {
		@apply w-2;
	}
	*::-webkit-scrollbar-thumb {
		@apply bg-neutral-400 rounded-full border-2 border-transparent bg-clip-content transition-all;
	}
	*::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
	h1,h2,h3,h4,h5,h6,p,span {
		@apply text-primary;
	}
	hr{
		@apply border-t-4  border-t-secondary
	}
	button {
		@apply cursor-pointer;
	}
	aside{
		@apply sticky top-0 hidden -translate-x-full lg:relative lg:block lg:basis-lg lg:translate-x-0 md:transition-transform max-w-2xs basis-2xs shrink-0
	}
}

@layer components {
	.btn-fill-slide::before{
		@apply content-[""] p-0 top-0 bottom-0 right-0 absolute w-0 h-full transition-all bg-emerald-700 -z-1
	}
	.group:hover.btn-fill-slide::before {
		@apply w-full left-0
	}
	.overlay::before{
		@apply content-["回首頁"] absolute flex justify-center items-center w-full h-full text-sm text-neutral-200 bg-neutral-900/0 z-10 top-0 left-0 origin-[-80%_80%] -rotate-45 duration-500 transition-all
	}
	.group:hover.overlay::before {
		@apply bg-neutral-900 rotate-0
	}
	/* 文章內容 */
	.article-title{
		@apply text-base font-medium text-neutral-900 group-hover:text-emerald-700 transition-all mb-2
	}
	.article-tag{
		@apply text-xs text-emerald-700 bg-neutral-100 rounded p-1 px-2 mr-1 hover:text-neutral-100 hover:bg-emerald-700 transition-all
	}
	.article-content{
		@apply text-sm text-neutral-500 line-clamp-2 break-all mb-3
	}
	/* 切換選單按鈕 */
	.navbar-toggler {
		@apply relative flex flex-col justify-center items-center aspect-square rounded-md transition-all duration-1000 z-50;
	}
	.navbar-toggler.scrolled {
		@apply bg-emerald-700;
	}
	.navbar-toggler.active{
		@apply bg-transparent
	}
	.navbar-toggler-line {
		@apply block bg-white w-6 h-0 pb-0.5 rounded-full mb-1.5 self-end hover:w-5 transition-all duration-500;
	}
	.navbar-toggler-line:last-child {
		@apply mb-0 w-5;
	}
	.navbar-toggler.active > .navbar-toggler-line:first-child {
		@apply rotate-45 translate-y-2 w-6
	}
	.navbar-toggler.active > .navbar-toggler-line:nth-child(2) {
		@apply opacity-0 w-0
	}
	.navbar-toggler.active > .navbar-toggler-line:last-child {
		@apply -rotate-45 -translate-y-2 w-6
	}
	.navbar-toggler.active:hover > .navbar-toggler-line:first-child {
		@apply rotate-135
	}
	.navbar-toggler.active:hover > .navbar-toggler-line:last-child {
		@apply rotate-225
	}

	/* 文章內容 */
	.markdown-body h2{
		@apply !text-xl
	}
	.markdown-body h3{
		@apply !text-lg
	}
	.markdown-body h4{
		@apply !text-base
	}
	.markdown-body h5{
		@apply !text-sm
	}	
	.markdown-body h6{
		@apply !text-xs
	}			
	.markdown-body ul {
		@apply list-disc !pl-6
	}
	.markdown-body ol {
		@apply list-decimal !pl-6
	}
	.markdown-body ul ol,.markdown-body ol ol {
		@apply !list-decimal
	}
	.markdown-body > table {
		@apply !w-auto
	}
	.markdown-body > ol > li > ol > li{
		@apply !list-decimal
	}
	.markdown-body pre > code{
		@apply !whitespace-break-spaces
	}
	.swiper-slide > img{
		@apply w-full h-auto object-cover
	}
}